<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="index.css">

    <title>Image Uploader | Uploading ...</title>


</head>

<body>

    <div class="container">
        <h1 class="container__header__title">Uploading...</h1>
        <div id="progress-bar"></div>
    </div>

    <script src="index.js"></script>

</body>

</html>