.container__chooseFile label {
    margin: 20px 0 20px 0;

    font-size: 18px;
    color: #BDBDBD;
}

#button {
    height: 30px;
    width: 100px;
    
    background-color: #2F80ED;
    border: none;
    border-radius: 8px;

    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    color: #FFFFFF;

    cursor: pointer;

    transition: all .3s ease-in-out;
}

#button:hover {
    background-color: #FFFFFF;
    color: #2F80ED;
    border: 1px solid #2F80ED;
}
#button:focus {
    outline: 1px dashed #5DBCFC;
}