.container__header__title,
.container__header__note {
    font-weight: 500;
    font-style: normal;
}

.container__header__title {
    margin-top: 36px;
    margin-bottom: 16px;
    
    font-size: 18px;
}
.container__header__note {
    margin-bottom: 30px;

    font-size: 10px;
    color: #828282;
}